beautifulsoup4==4.14.3
img2table==1.4.2
llvmlite==0.46.0
numba==0.63.1
numpy==2.3.5
opencv-contrib-python-headless==4.13.0.90
pandas==3.0.0
pdfplumber
pillow==12.1.0
polars==1.37.1
polars-runtime-32==1.37.1
pyarrow==23.0.0
pypdfium2==4.30.0
python-dateutil==2.9.0.post0
six==1.17.0
soupsieve==2.8.3
typing_extensions==4.15.0
xlsxwriter==3.2.9
